nav {
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

nav ul {
  width: 60%;
  float: right;
}

nav ul li {
  float: right;
  color: #145266;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  margin: 10px 0;
  font-size: 1.1em;
}

nav ul li.user {
  background-color: #D24244;
  color: #EFC94C;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

nav ul li.user.hello {
  margin-left: 60px;
  padding: 10px 15px;
}

nav ul li a {
  float: left;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
}

nav li a:hover {
  color: #E76C5A;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.card {
  background: white;
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  text-align: center;
  position: relative;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

a.small {
  line-height: 100%;
  font-size: .9rem;
}

/* Custome Classes */
.textintro h1 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.branding {
  float: left;
  margin: 20px;
}

.branding a {
  width: 80%;
  font-size: 1.6em;
  text-align: left;
  color: #1B7998;
  text-decoration: none;
  text-align: left;
}

.branding a:hover {
  color: none;
}

/* Form Styles */
.search .buttons {
  display: block;
  width: 33%;
  float: right;
  text-align: right;
}
.search {
  background: #F5F5F5;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px 30px;
  border-radius: 4px;
  text-align: left;
  font-size: 1.1rem;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

.search h2 {
  color: #124E61;
  margin-bottom: 10px;
}

.search select {
  font-size: 1rem;
  padding: 10px 0 10px 15px;
  color: #475B62;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(0,0,0,0.3);
}

.search input[type="text"] {
  margin-bottom: 10px;
}

.search input[type="checkbox"] {
  display: inline;
    background-color: #ddd;
    border: 1px solid #C5C5C5;
    display: inline-block;
    margin-right: 15px;
    -webkit-appearance: none;
}

.search label {
  font-size: 1rem;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  color: #576E75;
}

.search .formgroup {
  float: left;
  width: 33%;
}

@media all and (max-width: 700px) {
  .search .formgroup {
    width: 50%;
  }

  .search .buttons {
    width: 100%;
    float: right;
  }
}

@media all and (max-width: 550px) {
  .search .formgroup {
    width: 100%;
  }
}

input {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
}

input[type=radio] {
  width: auto;
}


.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: white;
    background-color: #2D8BCF;
    background-size: 18px 18px;
    min-width: 28px;
    min-height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}


.btn .btn-left { float: left; }
.btn .btn-right { float: right; }
.btn:hover { background-color: #DC322F; }

.btn-list { background-image: url(../images/icons/icon_list.png); }
.btn-checkin { background-color: #859835; background-image: url(../images/icons/icon_checkmark.png); }
.btn-delete { background-color: #C94C24; background-image: url(../images/icons/icon_trash.png); }
.btn-love { background-image: url(../images/icons/icon_heart.png); }
.btn-email { background-image: url(../images/icons/icon_email.png); }
.btn-meeting { background-image:  url(../images/icons/icon_meeting.png); }

.btn-important {
  background-color: #C94C24; 
  background-image: url(../images/icons/icon_heart.png);
}

.btn-notimportant {
  background-color: #fcdf23; 
  background-image: url(../images/icons/icon_heart.png);
}

.btn-pick {
  background: #2D8BCF url(../images/icons/icon_dice.png) 5px center no-repeat;
  background-size: 20px 20px;
  padding: 5px 5px 5px 30px;
  font-size: .8em;
  margin: 0 auto;
}

.btn-reset {
  background: #CB4B19 url(../images/icons/icon_reset.png)  5px center no-repeat;
  background-size: 20px 20px;
  padding: 5px 5px 5px 50px;
}

fieldset {
  margin: 10px 0;
}

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

.ng-invalid .btn {
  background: gray;
}

.error {
  color: red;
  padding-bottom: 10px;
}

/*  */
.addActivity {
    width:100%;
}

.addActivity .iwrap {
  margin-right:80px;
}

.addActivity .iwrap input {
    float: left;
    width: 100%;
}

.addActivity button {
  width: 60px;
  margin-left: 20px;
  vertical-align: center;
}

.activities {
  padding-top: 10px;
}

.activities h2 {
  padding-bottom: 5px;
}

.activities .activity {
  display: inline-block;
  padding: 10px 20px 10px 15px;
  margin: 3px 10px;
  border-radius: 4px;
  border: 1px solid #C5C5C5;


}

.activities .activity .btn {
  margin-right: 4px;
  padding: 1px 8px;
}

.activities .activity .text {
  display: inline-block;
  vertical-align: bottom;
}

.activities .activity .text a{
  text-decoration: none;
}

.tooltip {
  position: relative;
}

.tooltip span {
  background: #FFF;
  color: #000;
  font-size: .8em;
  bottom: 100%;
  display: block;
  left: -20px;
  opacity: 0;
  padding: 2px 13px;
  margin-bottom: 5px;
  pointer-events: none;
  position: absolute;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #C5C5C5;
  -webkit-transform: translateY(25px);
     -moz-transform: translateY(25px);
      -ms-transform: translateY(25px);
       -o-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.tooltip:hover span {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #E76C5A;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}

/* user List Styles */

.tasksList {
  width: 100%;
  margin: 0 auto;
  opacity: .95;
  z-index: 10;
  margin-top: 20px;
}

.tasksList ul {
  margin: 0;
  padding: 0;
}

.tasksList li {
  width: 50%;
  float: left;
  padding: 12px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: 1px solid transparent;
}

.tasksList li:hover {
  border: 1px solid #C5C5C5;
  border-radius: 4px;
}

.tasksList li.expanded {
  width: 100%;
}

.tasksList .buttons {
  display: block;
  float: left;
  text-align: left;
  margin-right: 5px;
}

.tasksList .btn {
    padding: 0;
    margin: 0 3px;
}

.tasksList .info {
  display: block;
  float: left;
  text-align: left;
}

@media all and (max-width: 600px) {
  .tasksList li {
    width: 100%;
  }

  .tasksList  .info  {
    width: 70%;
  }
}