<article class="card cf">

	<div class="textintro">
		<h1>Add Task</h1>
		<p>Just type the task name and hit +</p>
	</div>
	<form class="formgroup addActivity cf" name="addTaskForm"
		novalidate ng-submit="addTask()">
		<div class="iwrap" >
			<input type="text" name="taskName" 
				placeholder="Task Name"
				ng-model="taskName" ng-required="true"/>
			
		</div>
		<button type="submit" class="btn" 
			ng-disabled="addTaskForm.$invalid">
		+
		</button>
	</form>

	<div class="card cf activities">
		<h2> Your Tasks </h2>
		<div class="activity" ng-repeat="(key,task) in allTasks">
			<button class="btn btn-delete tooltip"
				ng-click="deleteTask(key)">
				<span>Delete this Task?</span>
			</button>
			<span class="text">{{task.name}}</span>
		</div>
	</div>
	<br/>
</article>
<br/><br/>

<article class="card cf">

	<div class="textintro">
		<h1>Add Recurrent Activity</h1>
		<p>Just type the activity name and hit +</p>
	</div>
	<form class="formgroup addActivity cf" name="addActivityForm"
		novalidate ng-submit="addActivity()">
		<div class="iwrap" >
			<input type="text" name="activityName" 
				placeholder="Activity Name"
				ng-model="activityName" ng-required="true"/>
			
		</div>
		<button type="submit" class="btn" 
			ng-disabled="addActivityForm.$invalid">
		+
		</button>
	</form>

	<div class="card cf activities">
		<h2> Your Recurrent Activities </h2>
		<div class="activity" ng-repeat="(key,activity) in allActivities">
			<button class="btn btn-delete tooltip"
				ng-click="deleteActivity(key)">
				<span>Delete this Activity?</span>
			</button>
			<span class="text">{{activity.name}}</span>
		</div>
	</div>
	<br/>
</article>
