<section id="info-section">

  <div class="jumbotron ">
    <h1 class="display-3">Ripeto 0.2 is here!!</h1>
    <hr class="my-4">
    <p class="lead">
      Keep track of your daily activities and tasks, categorize them and monitor the time you spent on them.
    </p>
    <p ng-if="!currentUser"> 
      <!-- Show Login and Register buttons only if no user is logged -->
      <a role="button" class="btn btn-success btn-lg" href="#!/register">Register today</a>
      <a role="button" class="btn btn-primary btn-lg" href="#!/login">or Log in now</a>
    </p>
  </div>

  <div class="row">
    <div class="col">
      <h2>Features</h2>
    </div>
  </div>
  <hr class="my-4">

  <div class="row marketing">
    <div class="col-md-6">
      <h4>Register</h4>
      <p>
        Create a new user with your email. Email confirmation is not used at this point, 
        but using a real email is encouraged. Future versions will include password recovery
        that can be accomplished only if you have access to the provided email account.
      </p>

      <h4>Authentication</h4>
      <p>
        After Registration, you will be automatically authenticated.
        You can logout and login back with your email and password.
      </p>

      <h4>Manage Categories</h4>
      <p>There is always a Default category for your tasks. To create a new category, click the "category" button, below the "Search/Create" box and you will get a popup window to add it. You can delete your existing categorys anytime using the same popoup window. "Default" category cannot be deleted. If you happen to delete a category that already has tasks associated, all those tasks will be automatically moved to the "Default" category.</p>
    </div>

    <div class="col-md-6">
      <h4>Create Tasks</h4>
      <p> The core idea of this simple application is to create tasks. Just type the task name on the "Search/Create" box and push the + button. If you want to place the task in an specific list, juthen select the list before clicking the + button.</p>

      <h4>Task List</h4>
      <p>In the main page you will see all your tasks for the selected list. You can use "order by" to re-organize the display of your tasks. Tasks with a due date will be displayed using red color font. From here you will be able to "Close your tasks", and open the task details. Closed task will be displayed in another section at the bottom. From there you can permanently delete a task or re-open it.</p>

      <h4>Check Tasks Details</h4>
      <p>You can open the task details for more information. Currently you can add comments on the task and modify the task name or list from there. We will be adding more things there.</p>
    </div>
  </div>

</section>