<div class="">
    <div  ng-if="successmsg">
        <span class="successmsg">{{successmsg}}</span><br/>
    </div>
    <div  ng-if="errormsg">
        <span class="errormsg">{{errormsg}}</span><br/>
    </div>
    <article>
        <div class="textintro">
            <h2>Add your list</h2>
    		<p>with 4 to 25 non special Characters</p>
    	</div>
        <form class="addList cf" name="addListForm" novalidate ng-submit="createNewList()">
            <div class="iwrap" >
            <input type="text" placeholder="List Name"
        			ng-model="listToCreate" ng-required="true"
        			ng-minlength="4" ng-maxlength="25"
        			ng-pattern="regex"/>
        	</div>
        	<button type="submit" class="btn" ng-disabled="addListForm.$invalid">+</button>
        </form>
    </article>
    <br/>
    <article>
        <div class="textintro">
            <h2>Remove a list</h2>
    	</div>
        <form class="addList cf" name="removeListForm" novalidate ng-submit="removeList()">
            <div class="iwrap" >
                <select ng-required="true" ng-model="listToDelete">
    				<option ng-repeat="list in taskLists | orderBy:name " value="{{list.$id}}" ng-if="list.name != 'Default'">
    					{{list.name}}
    				</option>
    			</select>
        	</div>
        	<button type="submit" class="btn" ng-disabled="removeListForm.$invalid">-</button>
        </form>
    </article>
    <br/>
    <button class="btn" ng-click="closeThisDialog(1)">Close</button>
    <br/>
</div>