<nav ng-controller="TasksCntrl">
  
  <ul class="nav nav-pills float-right">
    <!-- Menu Items when user is not logged in -->
    <li class="nav-item" ng-if="!currentUser">
      <a class="nav-link" ng-href="#!/register">Register</a>
    </li>
    <li class="nav-item" ng-if="!currentUser">
      <a class="nav-link" ng-href="#!/login">Log in</a>
    </li>

    <!-- Menu Items when user is logged in 
    <li class="nav-item" ng-if="currentUser">
      <a class="nav-link" ng-href="#!/profile/{{currentUser.userid}}">{{currentUser.firstname}}</a>
    </li> -->
    <li class="nav-item" ng-if="currentUser">
      <a class="nav-link" ng-href="#!/tasks">
        <span ng-show="totalOpenTasks" class="badge">{{totalOpenTasks}}</span>
        Tasks
      </a>
    </li>
    <li class="nav-item" ng-if="currentUser">
      <a class="nav-link" ng-href="#!/about" ng-click="logout()">Logout</a>
    </li>
    
    <!-- Common Menu Items 
    <li class="nav-item">
      <a class="nav-link" ng-href="#!/contact">Contact</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link active" ng-href="#!/about">About</a>
    </li>
      
  </ul>

  <h3 class="text-muted">Ripeto!</h3>
</nav>
