<nav class="cf" ng-controller="AuthenticationCntrl">
  <div class="branding">
  	<a ng-href="#!/init">Ripeto!</a>
  </div>
  <div  ng-controller="TasksCntrl">
    <ul ng-if="!currentUser" >
      <li><a ng-href="#!/register">Register</a></li>
      <li><a ng-href="#!/login">Login</a></li>
    </ul>
    <ul ng-if="currentUser" >
      <li><a ng-href="#!/home" ng-click="logout()">Logout</a></li>
      <li><a ng-href="#!/profile/{{currentUser.userid}}">{{currentUser.firstname}}</a></li>
      <li><a ng-href="#!/tasks">
        Your Tasks
        <span ng-show="totalCount" class="badge">{{totalCount}}</span>
          </a>
      </li>
    </ul>
  </div>
</nav>
