
<div class="card h-100" ng-controller="TimerCntrl">
  <div class="card-header">Timer</div>  
  <div class="car-body p-4">
    <div class="row">
      <div class="col-lg">
        <h1 class="card-subtitle" id="global-timer">{{chronos.formattedTotalTime}}</h1>

        <h3 class="card-title" ng-show="!chronos.timeset">
          Nothing is running!
        </h3>
        <h3 class="card-title" ng-show="chronos.timeset.status == 'running'">
          Clocking {{chronos.timeset.whichtimer}}
        </h3>
        <h3 class="card-title" ng-show="chronos.timeset.status == 'waiting'">
          {{chronos.timeset.whichtimer}} is waiting
        </h3>

        <p class="card-text">from set {{chronos.timeset.name}}</p>
    
        <!-- <span id="global-timer" class=""> {{timer.globalTimer}} </span>
        <span id="running-activity"> {{timer.description}} </span>
        <div>
          Totals:
          <ul id="timers-totals"></ul>
        </div>
        <div>
          History:
          <ul id="timers-history"></ul>
        </div> -->
      </div>
      <div class="col-lg">
        <button class="btn btn-block btn-success"
          ng-disabled="'All' == activeTasksList" ng-click="clockIn()">
          Clock in {{activeTasksList}}
        </button>
        <button class="btn btn-block btn-danger" ng-click="clockOut()">Pause</button>
        <button class="btn btn-block btn-dark" ng-click="resetAll()">
          Reset
        </button>
      </div>
    </div>
  </div>
</div><!--card-->
