
<div class="card h-100" ng-controller="TimerCntrl">
  <div class="card-header">Timer</div>
  <div class="car-body p-4">
    <div class="row">
      <div class="col">
        <span id="global-timer" class=""> {{timer.globalTimer}} </span>
        <span id="running-activity"> {{timer.description}} </span>
        <div>
          Totals:
          <ul id="timers-totals"></ul>
        </div>
        <div>
          History:
          <ul id="timers-history"></ul>
        </div>
      </div>
      <div class="col">
        <button class="btn btn-block btn-success" ng-controller="TimerCntrl" 
          ng-disabled="'All' == activeTasksList" ng-click="clockIn(activeTasksList)">
          Clock
        </button>
        <button class="btn btn-block btn-danger" ng-click="clockOut()">Pause</button>
        <button class="btn btn-block btn-dark" ng-click="resetAll()">
          Reset
        </button>
      </div>
    </div>
  </div>
</div><!--card-->
